h1 {
	font-family: 'Roboto', sans-serif; 
	color: #2b3f4c;
	font-size: 30px;

}

h2 {
	font-family: 'Roboto Condensed', sans-serif;
	color: #fff;
	font-size: 70px;
	font-weight: 300;
}

h3 {font-family: 'Roboto Condensed', sans-serif;
	color: #2b3f4c;
	font-size: 36px;
	font-weight: 300;
}

p {
	font-family: 'Roboto', sans-serif;
}

